:root {
  --backgroundColor: rgb(36, 33, 48);
  --foregroundColor: rgb(22, 15, 43);
  --borderColor: rgb(190, 179, 237);
  --borderGlow: rgba(189, 179, 237, 0.299);

  --borderColorUnhover: rgb(71, 60, 121);
  --buttonColor: rgb(23, 14, 48);
  --activeButton: rgb(190, 240, 255);
  --activeButtonGlow: rgba(190, 240, 255, 0.299);
}

body {
  background-color: var(--backgroundColor);

  height: 100vh;
  padding: 0;

  color: var(--activeButton);
}

* {
  margin: 0;
  padding: 0;
}