:root {
    --backgroundColor: rgb(36, 33, 48); 
    --foregroundColor: rgb(22, 15, 43);
    --borderColor: rgb(190, 179, 237);

    --borderColorUnhover: rgb(71, 60, 121);
    --buttonColor: rgb(23, 14, 48);
    --activeButton: rgb(190, 240, 255);

    --windowHeaderColor: rgb(23, 20, 35);
    --windowWrapperColor: rgb(32, 28, 43);
}

body {
    background-color: var(--backgroundColor);

    height: 100vh;
    margin: 0;
    padding: 0;
    
}

#navBar {
    background-color: var(--foregroundColor);
    border-right: 1.5px solid var(--borderColor);
    margin: 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

    position: fixed;

    margin: 0px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 5%;

    height: 100%;
    width: 4rem;

    transition: 0.5s;
    
}

#navBar:hover {
    padding-left: 1%;
    padding-right: 1%;
    width: 15rem;

    button {
        color: var(--borderColorUnhover);
        border-radius: 5px;
        transition: 0.1s;
    }
}

#navBar button {
    
    background-color: var(--buttonColor);

    border: solid;
    border-color: var(--borderColorUnhover);
    border-width: 1.5px;
    border-radius: 100%;

    margin-bottom: 5px;

    width: 100%;
    padding: 10px;

    
    color: rgba(0, 0, 0, 0);

    transition: 0.5s;

}

#navBar button:hover {
    color: var(--borderColor);
    border-color: var(--borderColor);
}

#navBar button:active {
    color: var(--activeButton);
    border-color: var(--activeButton);
}

#navBar li {
    list-style-type: none;

    margin-bottom: 5px;
}


/* 
    this areas in the code is for window style
*/

#wrapper {
    background-color: var(--windowWrapperColor);
    
    /* position: absolute; */

    left: 100px;
    right: 0;

    width: 40%;

    border-radius: 5px;
    border-width: 0px;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    
    transition: 0.2s;
}

#wrapper:hover {
    border-width: 2px;
    border-color: var(--borderColor);
}

#wrapper:active {
    border-color: var(--activeButton);
}

#header {
    color: var(--borderColor);
    background-color: var(--windowHeaderColor);

    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#header button {
    background-color: var(--buttonColor);
    padding-left: 76%;

}

/* the content div will be handled in html */