:root {
    --backgroundColor: rgb(36, 33, 48); 
    --foregroundColor: rgb(22, 15, 43);
    --borderColor: rgb(190, 179, 237);

    --borderColorUnhover: rgb(71, 60, 121);
    --buttonColor: rgb(23, 14, 48);
    --activeButton: rgb(190, 240, 255);
}

body {
    background-color: var(--backgroundColor);

    height: 100vh;
    margin: 0;
    padding: 0;
    
}

ul {
    padding-left: 0;
}

nav {
    background-color: var(--foregroundColor);
    border-right: 1.5px solid var(--borderColor);
    margin: 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

    position: fixed;

    margin: 0px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 5%;

    height: 100%;
    width: 2.5rem;

    transition: 0.5s;
    
}

nav:hover {
    padding-left: 1%;
    padding-right: 1%;
    width: 15rem;

    button {
        color: var(--borderColorUnhover);
        border-radius: 5px;
        transition: 0.2s;
    }
}

nav button {
    
    background-color: var(--buttonColor);

    border: solid;
    border-color: var(--borderColorUnhover);
    border-width: 1.5px;
    border-radius: 100%;

    margin-bottom: 5px;

    width: 100%;
    padding: 10px;

    
    color: rgba(0, 0, 0, 0);

    transition: 0.5s;

}

nav button:hover {
    color: var(--borderColor);
    border-color: var(--borderColor);
}

nav button:active {
    color: var(--activeButton);
    border-color: var(--activeButton);
}

nav li {
    list-style-type: none;

    margin-bottom: 5px;
}
